@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400&display=swap');


*{
  font-family: Poppins;
  padding: 0px !important ;
  border: 0px !important ;
  
}
body{
  border: 0 !important;
  width:100% ;
  padding: 0 !important;


}

